#wrapper{
    position: relative;
    width: 200px;
    height: 200px;
}

#form{
    color: #FFFFFF;
    font-size: 26px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;
    position: relative;
    z-index: 100;
}
FormControl {
    color: rgba(0,0,0,1);
}

.background{
    color: #999999;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}