*{margin: 0;}
/*
.main{
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    position: relative;
    width: 100vw;
    height: 100vh;
    

}

.background {
    position: absolute;
    background-image: url("../assets/SignInBackground.jpg");
    width: 100%;
    height: 100%;
    
}

.dialog-container{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: black;
    grid-column: 2/2;
    grid-row: 2/2;  
}

.dialog{
    margin: 0px 300px 0px 300px;
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 5px;
    opacity: 50%;
}

.welcome-text{
    position: relative;
    grid-area: 1 / 2 / 1 / 2 ;
}
*/
